@model IEnumerable<RestaurantManagement.Models.GuestViewModel>

@{
    ViewBag.Title = "Close";
}



<h3>Are you sure you want to cancel?</h3>
<div>
    <form method="post">
        <input type="hidden" value="@ViewBag.GuestId" name="GuestId" />
        <input type="hidden" value="@ViewBag.TableId" name="TableId" />
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="form-actions no-color">
                <input type="submit" value="Cancel" class="btn btn-danger" />

                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </form>
</div>