@model IEnumerable<RestaurantManagement.Models.Client>

@{
    ViewBag.Title = "Cancel";
}



<h3>Are you sure you want to cancel?</h3>
<div>
   
   
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-actions no-color">
            <input type="submit" value="Cancel" class="btn btn-danger" />

            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>