@model IEnumerable<RestaurantManagement.Models.Guest>
@{
    Layout = null;

}
<!DOCTYPE html>

<html>
<head>
    <title>Reserved tables</title>
</head>
<body>
    @if (User.Identity.IsAuthenticated)
    {
        <p>@User.Identity.Name</p>

        <form method="post" asp-controller="Account" asp-action="Logout">
            <h3>List of reserved tables</h3>
            <table>
                <tr>
                    <td>First name</td>
                    <td>Second name</td>
                    <td>Phone number</td>
                    <td>Table number</td>
                    <td></td>
                </tr>

                @foreach (var guest in Model)
                {

            <tr>

                <td>@guest.FirstName</td>
                <td>@guest.SecondName</td>
                <td>@guest.PhoneNumber</td>
                
                <td><a href="~/Waiter/Delete/@guest.GuestId">Cancel reservation</a></td>
            </tr>

                }
            </table>
            <input type="submit" value="Exit" />
        </form>
    }
    else
    {
        <a asp-controller="Account" asp-action="Login">Login</a>
        <a asp-controller="Account" asp-action="Register">Register</a>
    }


</body>
</html>