@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>

<h2>List of roles</h2>

    <table class="table">
        @foreach (var role in Model)
        {
            <tr>
                <td>@role.Name</td>
                <td>
                    <form asp-action="Delete" asp-route-id="@role.Id" method="post">
                        <button type="submit" class="btn btn-sm btn-danger">
                            Delete
                        </button>
                        
                    </form>
                    
                </td>

            </tr>
        }
    </table>
    <form method="post" asp-controller="Account" asp-action="Logout">
        <button type="submit" class="btn btn-sm btn-dark">
            Exit
        </button>
    </form>
  
      
        <a asp-action="Create">Add role</a>
        <a asp-action="UserList">List of users</a>
        <a asp-controller="Meal" asp-action="Index">Manage meals</a>
        <a asp-controller="Table" asp-action="TableList">Manage tables</a>
       
 